*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
header{
    background-color: #3b5998;
    color: #fff;
    padding: 0 3rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section{
    padding: 1rem 3rem;
}
#search form {
    display: flex;
    width: 40vw;
    min-width: 350px;
    max-width: 520px;
}
#search form input, #search form button{
    width: 75%;
    padding: 1rem 0.25rem;
    border-radius: 0.25rem;
    border: 2px solid #3b5998;
    font-size: 1rem;
    margin-right: 1%;
}
#search form button{
    width: 20%;
    cursor: pointer;
}
#results{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#results .movie{
    width: 23%;
    height: 450px;
    margin: 1rem 0.5rem;
    text-align: center;
}
#results .movie img{
    width: 100%;
    height: 70%;
    border-radius: 0.25rem;
    border: 1px solid #3b5998;
}
#results .movie h3{
    margin: 0.5rem 0;
}


@media all and (max-width: 900px){
    #results .movie{
        width: 31%;
    }
}

@media all and (max-width: 800px){
    #results .movie{
        width: 47%;
    }
    #results .movie h3{
        font-size: 16px;
    }
}
@media all and (max-width: 650px){
    #results .movie{
        width: 45%;
    }
}
@media all and (max-width: 400px){
    header h1{
        font-size: 16px;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
    }
    #search form{
        flex-direction: column;
        min-width: auto;
        width: 100%;
    }
    #search form input, #search form button{
        width: 100%;
        margin: 0.25rem 0;
    }
}